<!--<div class="movieInfo">-->
<!--  <div *ngIf="link && title" class="poster"><img src="{{link}}" alt='{{title}}'/></div>-->

<!--  <div class="wrapper">-->
<!--    <h1 *ngIf="title">{{title}}</h1>-->

<!--    <div class="rating">-->
<!--&lt;!&ndash;      <StarRatingForAllMovies vote_average={vote_average}/> <a href={imdbLink}><img src={imdbLogo} alt="imdb logo"/></a>&ndash;&gt;-->
<!--    </div>-->

<!--    <div *ngIf="genresOfOneMovie" class="mediumText">Genres: <span>{{genresOfOneMovie}}</span></div>-->
<!--    <div *ngIf="country" class="mediumText">Country: <span>{{country}}</span></div>-->
<!--    <div *ngIf="runtime" class="mediumText">Ran time: <span>{{runtime}} min</span></div>-->

<!--    <div *ngIf="release_date" class="mediumText">Release date: <span>{{release_date}}</span></div>-->
<!--    <div *ngIf="budget !== 0" class="mediumText">Budget: <span>{{budget}}</span></div>-->
<!--    <div *ngIf="revenue !== 0" class="mediumText">Profit: <span>{{revenue}}</span></div>-->

<!--    <div *ngIf="original_language" class="mediumText">Original language: <span>{{original_language}}</span></div>-->
<!--    <div *ngIf="tagline" class="tagline">{{tagline}}</div>-->
<!--    <div *ngIf="overview" class="overview">{{overview}}</div>-->
<!--  </div>-->
<!--</div>-->
