<div class="movieInfo" *ngIf="movieDetails">
  <div *ngIf="link && movieDetails.title" class="poster">
    <img src="{{link}}" alt='{{movieDetails.title}}' (error)="onError($event)"/>
  </div>

  <div class="wrapper">
    <h1 *ngIf="movieDetails.title">{{movieDetails.title}}</h1>

    <div class="rating">
      <app-star-rating [voteAverage]="movieDetails.vote_average" [isLarge]="true"></app-star-rating>
      <a href="{{imdbLink}}"><img src="{{imdbLogo}}" alt="imdb logo"/></a>
    </div>

    <div *ngIf="genres" class="mediumText">Genres: <span>{{genres}}</span></div>
    <div *ngIf="country" class="mediumText">Country: <span>{{ country }}</span></div>
    <div *ngIf="movieDetails.runtime" class="mediumText">Ran time: <span>{{movieDetails.runtime}} min</span></div>

    <div *ngIf="movieDetails.release_date" class="mediumText">Release date: <span>{{movieDetails.release_date | date}}</span></div>
    <div *ngIf="movieDetails.budget !== 0" class="mediumText">Budget: <span>{{movieDetails.budget}} $</span></div>
    <div *ngIf="movieDetails.revenue !== 0" class="mediumText">Profit: <span>{{movieDetails.revenue}} $</span></div>

    <div *ngIf="movieDetails.original_language" class="mediumText">Original language: <span>{{movieDetails.original_language | uppercase}}</span></div>
    <div *ngIf="movieDetails.tagline" class="tagline">{{movieDetails.tagline}}</div>
    <div *ngIf="movieDetails.overview" class="overview">{{movieDetails.overview}}</div>
  </div>
</div>
