.movieInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 70%;
  gap: 50px;
  margin: 25px;
  padding: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;

  .poster > img {
    border-radius: 10px;
    width: 450px;
  }
  @media (max-width: 1000px) {
    .poster > img {
      width: 350px;
    }
  }
  @media (max-width: 850px) {
    .poster > img {
      width: 300px;
    }
  }

  @media (max-width: 720px) {
    .poster > img {
      width: 240px;
    }
    .wrapper h1 {
      text-align: center;
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 400px) {
    .poster > img {
      width: 100%;
    }
  }

  .wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      margin-bottom: 5px;
      color: blue;
      padding-bottom: 0;
    }

    .rating {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      a {
        display: flex
      }

      img {
        margin-left: 15px;
        height: 25px;
      }
    }

    .mediumText {
      font-size: 20px;
      padding-top: 5px;
      font-family: "Avenir Next Cyr", Helvetica, Arial, sans-serif;

      span {
        color: #0a66c2;
      }
    }

    .tagline {
      font-family: "Bookman Old Style", serif;
      font-size: 22px;
      color: #ab1918;
      margin-top: 20px;
      font-weight: bolder;
    }

    .overview {
      margin-top: 10px;
      font-family: "Constantia", serif;
      font-size: 20px;
    }
  }
}
@media (max-width: 700px) {
  .movieInfo {
    gap: 20px;
    flex-direction: column;
  }
}

